@{
            Html.RenderPartial("DateMenuView");
}
@{
    <table >
        <tr>
            <th>
                <label class="form-control-static">Wykres</label>
            </th>
            <th>
                <img src="@Url.Action("CreateLine")" alt="Line Chart using MVC" />
            </th>
        </tr>
    </table>
    
}