
@{
    ViewBag.Title = "Zarządzaj";
}
<div class="row">
    <div class="col-sm-4">
        <label class="form-control-static">Przychody</label>
    </div>
    <div class="col-sm-4">
        <label class="form-control-static">Wydatki</label>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        @{
            Html.RenderPartial("IncomeAddView");
        }
    </div>
    <div class="col-sm-4">
        @{
            Html.RenderPartial("OutgoingAddView");
        }
    </div>
</div>

