<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dodaj Typ
        <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
        @using (Html.BeginForm("AddIncomimngType", "FinancialManager", FormMethod.Post, new { id = "ID" }))
        {
            @Html.TextArea("IncomimngType","Typ tutaj",  new { @class = "form-control" })
            <button class="form-control" type="submit">
                Dodaj Typ
            </button>
        }
    </div>

</div>


 