
<!DOCTYPE html>

<html>
<head>

</head>
<body>
<div class="btn-group btn-group-justified">
    <a href="@Url.Action(MVC.FinancialManager.AddIncoming())" class="btn btn-primary">Dodaj Przychody</a>
    <a href="@Url.Action(MVC.FinancialManager.AddOutgoing())" class="btn btn-primary">Dodaj Wydatki</a>
</div>

<div>
</div>
</body>
</html>
