
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
</head>
<body>
<table class="table table-striped  table-bordered">
    <tr>
        <th>Przychody</th>
        <th>Wydatki</th>
    </tr>
    <tr>
        <th>
            <div>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Kwota: </th>
                        <th>Data: </th>
                        <th>Źródło: </th>
                        <th>Opis: </th>
                    </tr>
                    <tbody id="tBodyIncomes"></tbody>
                </table>
                <label class="form-control-static" id="labelSumOfIncomes"></label>
            </div>
        </th>
        <th>
            <div>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Kwota: </th>
                        <th>Data: </th>
                        <th>Źródło: </th>
                        <th>Opis: </th>
                    </tr>
                    <tbody id="tBodyOutgoings"></tbody>
                </table>
                <label class="form-control-static" id="labelSumOfOutgoings"></label>
            </div>
        </th>
    </tr>
</table>
    <div id="myModalOutgoing" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edytuj wydatku:</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm">
                        <div class="form-group-sm">
                            <label class="form-control-static">Kwota:</label>
                            <input id="AmountTextBoxOutgoing" class="form-control" type="number" step="0.01" />
                        </div>
                        <div class="form-group-sm">
                            <label class="form-control-static">Data:</label>
                            <input id="DateDatePickerOutgoing" class="form-control" type="date" />
                        </div>
                        <div class="form-group-sm">
                            <label class="form-control-static">Źródło:</label>
                            <div class="form-inline">
                                <select id="listOfSourceOfAmountsOutgoing" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="form-control-static">Opis:</label>
                            <textarea id="DescriptionTextBoxOutgoing" class="form-control"></textarea>
                        </div>

                        <button onclick="OnEditClickConfirmOutgoings()" class="btn btn-primary">Edytuj</button>


                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Success! message sent successfully.
                        </div>

                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Error!.
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModalIncomes" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edytuj przychód:</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group-sm">
                        <div class="form-group-sm">
                            <label class="form-control-static">Kwota:</label>
                            <input id="AmountTextBoxIncome" class="form-control" type="number" step="0.01" />
                        </div>
                        <div class="form-group-sm">
                            <label class="form-control-static">Data:</label>
                            <input id="DateDatePickerIncome" class="form-control" type="date" />
                        </div>
                        <div class="form-group-sm">
                            <label class="form-control-static">Źródło:</label>
                            <div class="form-inline">
                                <select id="listOfSourceOfAmountsIncome" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group-sm">
                            <label class="form-control-static">Opis:</label>
                            <textarea id="DescriptionTextBoxIncome" class="form-control"></textarea>
                        </div>

                        <button onclick="OnEditClickConfirmIncomes()" class="btn btn-primary">Edytuj</button>


                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Success! message sent successfully.
                        </div>

                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            Error!.
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/FinancialManagerEditScripts.js"></script>
