
<div >

        @using (Html.BeginForm("ShowBetwenDate", "FinancialManager"))
        {
            <div>
                <div class="col-lg-6">
                    @Html.TextBox("dateFrom", "", new { @class = "form-control", @type = "date" })
                </div>
                <div class="col-lg-6">
                    @Html.TextBox("dateTo", "", new { @class = "form-control", @type = "date" })
                </div>
            </div>
            <div class="col-lg-12">
                <button class="form-control">Od-Do</button>
            </div>
          
        }

    

</div>
<div>
    <div class="col-lg-6">
        @{
            Html.RenderPartial("IncomeEditView");
        }
    </div>
    <div class="col-lg-6">
        @{
            Html.RenderPartial("OutgointEditView");
        }
    </div>
</div>
