@{
    ViewBag.Title = "Zarządzaj";
}
<div class="container">

        <ul class="nav nav-justified">
            <li>@Html.ActionLink("Bilans", MVC.FinancialBalance.Index())</li>
            <li>@Html.ActionLink("Zarządzaj", MVC.Home.About())</li>
            <li>@Html.ActionLink("Raport", MVC.Home.Contact())</li>
        </ul>
   
</div>