@{
    ViewBag.Title = "Home Page";
}

<Div>
    <div class="row">
        <div class="col-sm-6"><canvas id="IncomingChart"></canvas></div>
        <div class="col-sm-6"><canvas id="OutgoingChart"></canvas></div>
    </div>
</Div>

<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/HomeScripts.js"></script>