@{
    ViewBag.Title = "Finance Balance";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManView</title>
</head>
<body>
<table class="table table-striped  table-bordered">
    <tr>
        <th>Przychody</th>
        <th>Wydatki</th>
    </tr>
    <tr>
        <th>
            <div>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Kwota: </th>
                        <th>Data: </th>
                        <th>Źródło: </th>
                        <th>Opis: </th>
                    </tr>
                    <tbody id="tBodyIncomes"></tbody>
                </table>
                <label class="form-control-static" id="labelSumOfIncomes"></label>
            </div>
        </th>
        <th>
            <div>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Kwota: </th>
                        <th>Data: </th>
                        <th>Źródło: </th>
                        <th>Opis: </th>
                    </tr>
                    <tbody id="tBodyOutgoings"></tbody>
                </table>
                <label class="form-control-static" id="labelSumOfOutgoings"></label>
            </div>
        </th>
    </tr>
</table>
    
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/FinancialBalanceScripts.js"></script>