<div>
    <button class="btn btn-info navbar-right" data-toggle="collapse" data-target="#demo">Filtruj poszukiwań</button>

    <div id="demo" class="collapse navbar navbar-right ">
        <table>
            <tr>
                <th>
                    <input id="firstRadioButton" checked="checked" type="radio" name="dataSelect" />
                    <label onclick="textByFirstRadiobutton()" class="form-control-static">od dnia</label>
                </th>
                <th>
                    <input id="dayFirstFilter" type="date" class="form-control" />
                </th>
                <th>
                    <label>do dnia</label>
                    <input id="daySecondFilter" type="date" class="form-control" />
                </th>
            </tr>
            <tr>
                <th>
                    <input id="secondRadioButton" type="radio" name="dataSelect" checked="checked"/>
                    <label onclick="textBySecondRadiobutton()" class="form-control-static">ostatnie</label>
                </th>
                <th>
                    <input class="form-control" id="selectableFilterValue" value="7" type="text" />
                </th>
                <th>
                    <select id="difTimeSelect" class="form-control">
                        <option value="days" class="form-control">dni</option>
                        <option value="weeks" class="form-control">tygodni</option>
                        <option value="months" class="form-control">miesięcy</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <input id="thirdRadioButton" type="radio" name="dataSelect" />
                    <label onclick="textByThirdRadiobutton()" class="form-control-static">ostatnie</label>
                </th>
                <th>
                    <input id="counterOfLastOperations" value="3" class="form-control" type="text" />
                </th>
                <th>
                    <label class="form-control-static">operacji</label>
                </th>
            </tr>
        </table>
        <button  id="buttonComfirm" class="form-control">Zatwierdz</button>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        function textByFirstRadiobutton() {
            document.getElementById('firstRadioButton').checked = true;
        }
        function textBySecondRadiobutton() {
            document.getElementById('secondRadioButton').checked = true;
        }
        function textByThirdRadiobutton() {
            document.getElementById('thirdRadioButton').checked = true;
        }
    </script>
</div>