@{
    ViewBag.Title = "Home Page";
}

@model Domain.Models.Income
<table class="table-responsive">
    <tr>
        <th class="control-label">Przychody:</th>
        <th class="control-label">Wydatki:</th>
    </tr>

    <tr>
        <th>
            @{
                Html.RenderPartial("IncomeAddView");
            }
        </th>
        <th>
            @{
                Html.RenderPartial("OutgoingAddView");
            }
        </th>
    </tr>
    <tr>

        <th>
            @{
                Html.RenderPartial("IncomingListView");
            }
        </th>
        <th>
            @{
                Html.RenderPartial("OutgoingListView");
            }
        </th>
    </tr>
</table>